body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #222222;
}

.container {
  background-color: #111111;
  padding: 20px;
  text-align: center;
}

form {
  display: inline-block;
}

/* Input field style */
input[type="text"] {
  padding: 10px;
  font-size: 20px;
  outline: none;
  border: 2px solid #ccc;
  border-radius: 10px;
  transition: border-color 0.3s ease;
}
input[type="text"]:hover {
  border-color: #666; /* Change border color on hover */
}
input[type="text"]:focus {
  border-color: #333; /* Change border color on focus */
}

button {
  padding: 10px 20px;
  font-size: 20px;
  background-color: #00ff08;
  color: #000;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}
button:hover {
  background-color: #00d603;
}
button:active {
  transform: scale(0.95);
}

.msg {
  color: #ff0000;
  margin-top: 10px;
}

#loading-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  background-color: rgba(255, 255, 255, 0.8); /* transparent white background */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Shadow effect */
  display: none; /* Hide by default */
}

#loading-gif {
  width: 50px;
  height: 50px;
  border-radius: 10px;
}

#loading-text {
  font-size: 16px;
  color: #333;
  margin-top: 10px;
}

.weather-container {
  margin-top: 20px;
  text-align: center;
  display: none; /* Initially hide weather container */
}

.cities {
  list-style-type: none;
  padding: 0;
}

.city {
  display: inline-block;
  width: 200px;
  margin: 10px;
  padding: 10px;
  border: 1px solid #000;
  border-radius: 10px;
  /* background-color: #f9f9f9; */
  background-color: #00ff08;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s, transform 0.3s;
}
.city:hover {
  background-color: #00d603; /* Darker shade of green on hover */
}
.city:active {
  transform: scale(0.85); /* Scale down slightly on click */
}

.city-name {
  font-size: 20px;
}

.city-temp {
  font-size: 24px;
  margin-top: 10px;
}

.city-icon {
  width: 50px;
  height: 50px;
  margin-top: 10px;
}

/* Footer styling */
footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #111;
  color: #00ff08;
  text-align: center;
  padding: 10px 0;
}
